includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    scanFiles:
        - _ide_helper_models.php

    excludePaths:
